{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doncho's App</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">

    {% block styles %} {% endblock %}

    {# all pages scripts #}

    {% block head_scripts %}
    {% endblock %}
</head>

<body>
    {% block body_start_scripts %} {% endblock %}
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Index</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
    </ul>
</nav>

    <h1>Welcome to Doncho's App!</h1>

    <p>This is an application about cats.</p>

    {# `block` defines a placeholder where #}
    {# inheritor templates can insert their #}
    {# custom/specific HTML #}
    {% block main_content %}
        {# We can define a default HTML #}
        <h2>No content</h2>
    {% endblock %}

    <footer>
        <ul>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Company</a></li>
        </ul>
    </footer>

{% block body_end_scripts %} {% endblock %}
</body>
</html>